<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="com.springsource.sts.server.insight.actions" objectClass="org.eclipse.wst.server.core.IServer">
			<enablement>
				<and>
					<or>
						<test forcePluginActivation="true"
							property="org.eclipse.wst.server.ui.serverType" value="com.springsource.tcserver.*" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.server.ui.serverType" value="com.vmware.server.tc.*" />							
						<test forcePluginActivation="true"
							property="org.eclipse.wst.server.ui.serverType" value="com.pivotal.server.tc.*" />							
					</or>
					<test forcePluginActivation="true"
						property="com.springsource.sts.server.insight.ui.tcServer.hasInsight" value="true" />
    			</and>
			</enablement>
			<action
				class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.actions.OpenDashboardAction"
				enablesFor="1"
				id="com.springsource.sts.server.internal.insight.actions.openDashboardAction"
				label="Open Dashboard">
			</action>
		</objectContribution>
	</extension>
 
	<extension point="org.eclipse.ui.startup">
    	<startup class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.Startup" />
 	</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.TcServerPropertyTester"
          id="com.springsource.sts.server.insight.ui.tcServerPropertyTester"
          namespace="com.springsource.sts.server.insight.ui.tcServer"
          properties="hasInsight,isStarted"
          type="org.eclipse.wst.server.core.IServer">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.TcServerInsightSection"
            id="com.springsource.sts.server.tc.editor.insight"
            insertionId="com.springsource.sts.server.insight.ui.left"
            order="1"
            typeIds="com.springsource.tcserver.*,com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <and>
               <test
                     property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                     value="true">
               </test>
					<test forcePluginActivation="true"
						property="com.springsource.sts.server.insight.ui.tcServer.hasInsight" value="true" />
            </and>
         </enablement>
      </section>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.InsightPluginsSection"
            id="com.springsource.sts.server.tc.editor.insight.plugins"
            insertionId="com.springsource.sts.server.insight.ui.left"
            order="2"
            typeIds="com.springsource.tcserver.*,com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <and>
               <test
                     property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                     value="true">
               </test>
               <test
                     forcePluginActivation="true"
                     property="com.springsource.sts.server.insight.ui.tcServer.hasInsight"
                     value="true">
               </test>
            </and>
         </enablement>
      </section>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.InsightActionSection"
            id="com.springsource.sts.server.tc.editor.insight.actions"
            insertionId="com.springsource.sts.server.insight.ui.disabled"
            order="1"
            typeIds="com.springsource.tcserver.*,com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <and>
               <test
                     property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                     value="true">
               </test>
               <test
                     forcePluginActivation="true"
                     property="com.springsource.sts.server.insight.ui.tcServer.hasInsight"
                     value="true">
               </test>
            </and>
         </enablement>
      </section>
 </extension>
 <extension
       point="com.springsource.sts.server.tc.core.callback">
    <callback
          class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.InsightTcServerCallback">
    </callback>
 </extension>
 <extension
       point="org.eclipse.wst.server.ui.editorPages">
    <page
          class="com.vmware.vfabric.ide.eclipse.tcserver.insight.internal.ui.InsightEditorPage"
          id="com.springsource.sts.server.insight.ui.ServerEditorPage"
          insertionIds="com.springsource.sts.server.insight.ui.left,com.springsource.sts.server.insight.ui.right"
          name="Insight"
          order="2"
          typeIds="com.springsource.tcserver.*,com.vmware.server.tc.*,com.pivotal.server.tc.*,com.pivotal.server.tc.*">
       <enablement>
          <and>
             <test
                   property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                   value="true">
             </test>
             <test
                   forcePluginActivation="true"
                   property="com.springsource.sts.server.insight.ui.tcServer.hasInsight"
                   value="true">
             </test>
          </and>
       </enablement>
    </page>
 </extension>

</plugin>
