<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image 
         id="com.springsource.tcserver" 
         icon="icons/full/obj16/springsource_obj.png"
         typeIds="com.vmware.server.tc.70,com.vmware.server.tc.runtime.70" />
      <image 
         id="com.springsource.tcserver" 
         icon="icons/full/obj16/springsource_obj.png"
         typeIds="com.pivotal.server.tc.80,com.pivotal.server.tc.runtime.80,com.pivotal.server.tc.90,com.pivotal.server.tc.runtime.90" />
   </extension>

   <extension point="org.eclipse.wst.common.project.facet.ui.images">
	  <image 
         runtime-component-type="com.vmware.server.tc"
         path="icons/full/obj16/springsource_obj.png" />
      <image
         path="icons/full/obj16/springsource_obj.png"
         runtime-component-type="com.pivotal.server.tc">
      </image>
   </extension>
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
	      <runtime-component id="com.vmware.server.tc"/>
	      <factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider"/>
	      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
	  </adapter>
      <adapter>
	      <runtime-component id="com.pivotal.server.tc"/>
	      <factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider"/>
	      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
	  </adapter>
    </extension>
	

   <!-- VMware vFabric and Pivotal tc server -->
   <extension point="org.eclipse.wst.server.ui.editorPages">
      <page
         id="com.vmware.server.tc.editor.webmodule"
         order="20"
         name="Modules"
         typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationWebModuleEditorPart">
         <enablement>
           <test property="org.eclipse.jst.server.tomcat.ui.hasConfiguration" value="true"/>
         </enablement>
      </page>
   </extension>

   <extension point="org.eclipse.wst.server.ui.editorPageSections">
      <section
         id="com.vmware.server.tc.editor.instance"
         order="0"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*"
         class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerLocationEditorSection"/>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerInfoEditorSection"
            id="com.vmware.server.tc.editor.general"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="3"
            typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*">
      </section>
      <!--
      <section
            class="com.springsource.sts.internal.server.tc.ui.ServicabilityEditorSection"
            id="com.vmware.server.tc.editor.jmx"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="4"
            typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <test
                  property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                  value="true">
            </test>
         </enablement>
      </section>
      -->
      <section
         id="com.vmware.server.tc.editor.general"
         order="5"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ServerGeneralEditorSection"/>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerPortSection"
            id="com.vmware.server.tc.editor.port"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="10"
            typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <test
                  property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                  value="true">
            </test>
         </enablement>
      </section>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.PropertiesSection"
            id="com.vmware.server.tc.editor.properties"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="11"
            typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <test
                  property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                  value="true">
            </test>
         </enablement>
      </section>
      <section
            class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.ExtendedTcStaticResourcesEditorSection"
            id="com.vmware.server.tc.editor.resources"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="4"
            typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*">
         <enablement>
            <test
                  property="org.eclipse.jst.server.tomcat.ui.hasConfiguration"
                  value="true">
            </test>
         </enablement>
      </section>
      <section
         id="com.vmware.server.tc.editor.mime"
         order="20"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="com.vmware.server.tc.*,com.pivotal.server.tc.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationMimeEditorSection">
         <enablement>
           <test property="org.eclipse.jst.server.tomcat.ui.hasConfiguration" value="true"/>
         </enablement>
      </section>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
         id="com.vmware.server.tc.runtime"
         class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerRuntimeWizardFragment"
         typeIds="com.vmware.server.tc.runtime.70"/>
      <fragment
         id="com.vmware.server.tc.70"
         class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServer21WizardFragment"
         typeIds="com.vmware.server.tc.70"/>
      <fragment
         id="com.pivotal.server.tc.runtime"
         class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerRuntimeWizardFragment"
         typeIds="com.pivotal.server.tc.runtime.80,com.pivotal.server.tc.runtime.90"/>
      <fragment
         id="com.pivotal.server.tc"
         class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServer21WizardFragment"
         typeIds="com.pivotal.server.tc.80,com.pivotal.server.tc.90"/>
   </extension>

  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      adaptable="true"
      id="org.eclipse.jst.server.tomcat.ui.serveractions"
      objectClass="org.eclipse.wst.server.core.IServer">
      <visibility>
        <or>
          <objectState name="serverType" value="com.vmware.server.tc.*"/>
          <objectState name="serverType" value="com.pivotal.server.tc.*"/>
        </or>
      </visibility>
      <action 
        class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.CleanTcServerWorkDirAction"
        enablesFor="1"
        id="org.eclipse.jst.server.tomcat.ui.cleanserverworkdir"
        label="Clean tc Server Work Directory...">
      </action>
    </objectContribution>
    <objectContribution
      adaptable="true"
      id="org.eclipse.jst.server.tomcat.ui.serveractions"
      objectClass="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
      <visibility>
        <and>
          <or>
          	<objectState name="serverType" value="com.vmware.server.tc.*"/>
          	<objectState name="serverType" value="com.pivotal.server.tc.*"/>
          </or>
          <objectState name="moduleType" value="jst.web"/>
        </and>
      </visibility>
      <action
        class="org.eclipse.jst.server.tomcat.ui.internal.actions.CleanWorkDirAction"
        enablesFor="1"
        id="org.eclipse.jst.server.tomcat.ui.cleanmoduleworkdir"
        label="Clean tc Server Work Directory...">
      </action>
       <action
             class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.OpenHomePageAction"
             enablesFor="1"
             id="com.vmware.server.tc.ui.action.OpenModule"
             label="Open Home Page">
       </action>
    </objectContribution>
  </extension>
  
  	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage 
			icon="icons/full/obj16/springsource_obj.png"
			configTypeID="com.vmware.server.tc.launchConfiguration" 
			id="com.vmware.server.tc.launchimage">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage 
			icon="icons/full/obj16/springsource_obj.png"
			configTypeID="com.pivotal.server.tc.launchConfiguration" 
			id="com.pivotal.server.tc.launchimage">
		</launchConfigurationTypeImage>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="com.vmware.server.tc.launchConfigurationTabGroup" 
			type="com.vmware.server.tc.launchConfiguration"
			class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerLaunchConfigurationTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			id="com.pivotal.server.tc.launchConfigurationTabGroup" 
			type="com.pivotal.server.tc.launchConfiguration"
			class="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.TcServerLaunchConfigurationTabGroup">
		</launchConfigurationTabGroup>
	</extension>
	
    <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="com.vmware.vfabric.ide.eclipse.tcserver.internal.ui.BrowseDeploymentLocationHandler"
          id="com.vmware.server.tc.ui.command.browseDeploymentLocation"
          name="Browse Deployment Location...">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.wst.server.ui.ServersView?after=additions">
       <command
             commandId="com.vmware.server.tc.ui.command.browseDeploymentLocation"
             id="com.vmware.server.tc.ui.menus.browseDeploymentLocation">
       </command>
    </menuContribution>
 </extension>
	<!--
	<extension point="org.eclipse.ui.popupMenus">
    	<objectContribution
      		adaptable="true"
      		id="org.eclipse.jst.server.tomcat.ui.serveractions"
      		objectClass="org.eclipse.wst.server.core.IServer">
      		<visibility>
      			<or>
        		<objectState name="serverType" value="com.vmware.server.tc.70"/>
        		<objectState name="serverType" value="com.pivotal.server.tc.80"/>
        		</or>
      		</visibility>
      		<action 
        		class="com.springsource.sts.internal.server.tc.ui.CreateTcServerInstanceAction"
        		enablesFor="1"
        		id="com.vmware.server.tc.ui.CreateTcServerInstanceAction"
        		label="Create Instance...">
      		</action>
    	</objectContribution>
	</extension>
    -->

</plugin>
